#output {
  border: 1px solid black;
  min-height: 100px;
}

#map {
  height: 100%; 
  width: 100%; 
  position:absolute; 
/*   top:0; */
/*   bottom:0; */
/*   right:0; */
/*   left:0; */
}

body { margin: 0; } 

/* #start { */
/*   position: absolute; */
/*   right: 30px; */
/*   bottom: 30px; */
/*   font-size: 40px */
/* } */

/* All of this is from cibi.me */

/* #branding { */
/*   height: 0; */
/*   overflow: visible; */
/*   position: relative; */
/*   z-index: 100; */
/*   color: #fff; */

/*   background-color: #444; */

/*   background-image: linear-gradient(bottom, rgb(68,68,68) 0%, rgb(102,102,102) 100%); */
/*   background-image: -o-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(102,102,102) 100%); */
/*   background-image: -moz-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(102,102,102) 100%); */
/*   background-image: -webkit-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(102,102,102) 100%); */
/*   background-image: -ms-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(102,102,102) 100%); */

/*   background-image: -webkit-gradient( */
/*     linear, */
/*     left bottom, */
/*     left top, */
/*     color-stop(0, rgb(68,68,68)), */
/*     color-stop(1, rgb(102,102,102)) */
/*   ); */
/* } */


/* #site-title { */
/*   font-family: 'Dancing Script', cursive; */
/*   font-size: 3.25em; */
/*   margin: -0.2em 20px 0 0; */
/*   line-height: 1; */
/* } */
/* #site-title a { */
/*   text-decoration: none; */
/*   color: #fff; */
/*   text-shadow: -1px -1px 1px rgba(42,101,161,0.25), */
/*                -1px  1px 1px rgba(42,101,161,0.25), */
/*                 1px -1px 1px rgba(42,101,161,0.25), */
/*                 1px  1px 1px rgba(42,101,161,0.25) */
/* } */
/* #site-title a:hover { */
/*   text-shadow: -1px -1px 1px rgba(42,101,161,0.5), */
/*                -1px  1px 1px rgba(42,101,161,0.75), */
/*                 1px -1px 1px rgba(42,101,161,0.25), */
/*                 1px  1px 1px rgba(42,101,161,0.5) */
/* } */
/* #site-description { */
/*   color: #dfeefd; */
/*   font-size: 1em; */
/*   margin: 0 20px 0 0; */
/*   text-shadow: -1px -1px 1px rgba(42,101,161,0.25), */
/*                -1px  1px 1px rgba(42,101,161,0.25), */
/*                 1px -1px 1px rgba(42,101,161,0.25), */
/*                 1px  1px 1px rgba(42,101,161,0.25) */
/* } */

/* /* AddThis */ */
/* #branding .addthis_toolbox { */
/*   margin: 0.5em 0 0 0.5em; */
/*   float: left; */
/*   min-width: 163px; */
/* } */

/* Navigation: Main Menu */
#main-menu {
  padding: .25em;
  float: right;
}
#main-menu li {
  float: left;
}
#main-menu a {
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.75;
  text-decoration: none;
  padding: 0 0.75em;
  position: relative;
  z-index: 1000;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
#main-menu a:hover {
  background-color: #333;
}

/* /* Location Search Form */ */
/* #branding .search { */
/*   padding: 1em; */
/* } */
/* #branding .search input { */
/*   width: 15em; */
/*   padding: 0.5em; */
/*   background: #eee; */
/*   border: 0; */
/*   font-weight: bold; */
/*   -webkit-border-radius: 3px; */
/*      -moz-border-radius: 3px; */
/*           border-radius: 3px; */

/*   background-image: linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%); */
/*   background-image: -o-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%); */
/*   background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%); */
/*   background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%); */
/*   background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%); */

/*   background-image: -webkit-gradient( */
/*     linear, */
/*     left bottom, */
/*     left top, */
/*     color-stop(0, rgb(229,229,229)), */
/*     color-stop(1, rgb(208,208,208)) */
/*   ); */
/* } */
/* #branding .search ::-webkit-input-placeholder { color: #777; } */
/* #branding .search :-moz-placeholder { color: #777; } */


@media only screen and (min-width: 768px) {
/*   #logo { */
/*     right: 0; */
/*     top: 2em; */
/*   } */

/*   #logo .ribbon { */
/*     height: 5em; */
/*   } */

/*   #site-title { */
/*     font-size: 4.25em; */
/*   } */
/*   #site-description { */
/*     font-size: 1.25em; */
/*   } */

  Map UI
  .leaflet-control-zoom {
    display: block;
  }
  .leaflet-container .leaflet-control-attribution {
    font-size: 10px;
  }
}